@use '../../styles/variables.scss' as *;

.register-container {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $box-shadow-sm;
  background-color: $background-color;
}

h1 {
  margin-top: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.error-message {
  background-color: $error-background;
  color: $error-color;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 1px solid $error-color;
}
