@use '../../styles/variables.scss' as *;

.blog-container {
  .loading-message {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
  }

  .error-message {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: $error-color;
  }

  .no-articles {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: $text-light;
  }

  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
