@use './variables.scss' as *;

.page-container-full {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.page-container-medium {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.page-container-narrow {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
