@use '../../styles/variables.scss' as *;

.article-detail-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $background-light;
  border-radius: 8px;
  box-shadow: $box-shadow-sm;
  color: $text-color;

  .article-date {
    text-align: center;
    font-size: 1rem;
    color: $text-light;
    margin-bottom: 2rem;
    font-style: italic;
  }

  .article-content {
    font-size: 1.1rem;
    line-height: 1.8;

    p {
      margin-bottom: 1.5rem;
      text-align: justify;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .article-loading,
  .article-error,
  .article-not-found {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: $text-light;
  }

  .article-error {
    color: $error-color;
  }
}
