@use '../../styles/variables.scss' as *;

.ebook-card {
  border: 1px solid $border-color;
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 300px;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-lg;
  }

  &__image {
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.25rem;
    color: #333;
    transition: color 0.2s ease;
  }

  &__description {
    margin-bottom: 16px;
    color: #666;
    flex-grow: 1;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
  }

  &__purchase-date,
  &__purchase-price {
    font-size: 1rem;
    color: #333;
  }

  &__purchase-date {
    margin-bottom: 4px;
  }

  &__purchase-price {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s ease;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-top: auto;
    z-index: 2;

    &:hover {
      background-color: $primary-color-dark;
    }
  }

  &__download-unavailable {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eee;
    color: #999;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
  }
}
