.header {
  background-color: var(--color-background);
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
}

.header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.header a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 0 0 0.1px var(--color-text);
  transition: color 0.2s;
}

.header a:hover {
  color: var(--color-text-light);
}
