@use '../../styles/variables.scss' as *;

footer {
  min-height: 100px;
  background-color: $background-light;
  padding: 20px 0;
  color: $text-muted;
  border-top: 1px solid $border-color;
  text-align: center;
}
