@use '../../styles/variables.scss' as *;

.article-preview {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $border-color;

  h2 {
    margin-bottom: 0.5rem;
    
    a {
      color: $primary-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .article-date {
    font-size: 0.9rem;
    color: $text-color-secondary;
    margin-bottom: 0.5rem;
    font-style: italic;
  }

  p {
    margin-top: 0.5rem;
    line-height: 1.6;
  }
}
